<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.oem.modules.agent.dao.records.MyNoticeMapper">

    <insert id="batchSave">
        insert into my_notice(id, customer_id, notice_id, title, content, notice_type, have_read, create_time, update_time)
        values
            <foreach collection="list" item="item" separator=",">
                (#{item.id}, #{item.customerId}, #{item.noticeId}, #{item.title}, #{item.content}, #{item.noticeType}, #{item.haveRead}, now(), now())
            </foreach>
    </insert>

</mapper>