<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.oem.modules.sys.dao.PmSysParamMapper">
    <!--查询所有字典类型-->
    <select id="findOne" resultType="com.cc.oem.modules.sys.vo.data.PmSysParam">
        select id,param_key paramKey,param_value paramValue,remark
        from sys_config
        where param_key = #{paramKey}
        limit 0,1
    </select>

    <!--分页条件查询参数管理列表-->
    <select id="ParamPageByCondition" resultType="com.cc.oem.modules.sys.vo.data.PmSysParam">
        select id, param_key, param_value, remark
        from sys_config
        <where>
            <if test="paramKey!=null">
                and param_key like concat('%', #{paramKey}, '%')
            </if>
        </where>
        order by id desc
    </select>
    <!--修改参数-->
    <update id="updateOne">
        update sys_config
        <set>
            <if test="paramKey!=null">
                param_key=#{paramKey},
            </if>
            <if test="paramValue!=null">
                param_value=#{paramValue},
            </if>
            <if test="remark!=null">
                remark=#{remark},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--删除单个参数-->
    <delete id="deleteOne">
        delete from sys_config
        where id=#{id};
    </delete>

    <!--新增参数-->
    <insert id="save">
        insert into sys_config(param_key, param_value, remark)
        values(#{paramKey}, #{paramValue}, #{remark})
    </insert>

    <!--通过id查询参数-->
    <select id="queryById" resultType="com.cc.oem.modules.sys.vo.data.PmSysParam">
        select id, param_key, param_value, remark
        from sys_config
        where id=#{id}
    </select>
</mapper>