<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.oem.modules.agent.dao.CustomerBalanceMapper">
  <update id="updateCustAccountByCustId" parameterType="com.cc.oem.modules.agent.entity.CustomerBalance">
      update customer_balance
      <set>
          <if test="emptyRechargeNum != null">
            empty_recharge_num =empty_recharge_num+ #{emptyRechargeNum},
          </if>
          <if test="emptyCount != null">
            empty_count =empty_count+ #{emptyCount},
          </if>
          <if test="emptyRechargeMoney != null">
            empty_recharge_money =empty_recharge_money+ #{emptyRechargeMoney},
          </if>
          <if test="realtimeRechargeMoney != null">
            realtime_recharge_money =realtime_recharge_money+ #{realtimeRechargeMoney},
          </if>
          <if test="realtimeRechargeNum != null">
            realtime_recharge_num = realtime_recharge_num+#{realtimeRechargeNum},
          </if>
          <if test="realtimeCount != null">
            realtime_count =realtime_count+ #{realtimeCount},
          </if>

		  <if test="internationalRechargeMoney != null">
            international_recharge_money =ifnull(international_recharge_money,0)+ #{internationalRechargeMoney},
          </if>
          <if test="internationalRechargeNum != null">
            international_recharge_num = ifnull(international_recharge_num,0)+#{internationalRechargeNum},
          </if>
          <if test="internationalCount != null">
            international_count =ifnull(international_count,0)+ #{internationalCount},
          </if>
          
          <if test="directCommonRechargeMoney != null">
            direct_common_recharge_money =ifnull(direct_common_recharge_money,0)+ #{directCommonRechargeMoney},
          </if>
          <if test="directCommonRechargeNum != null">
            direct_common_recharge_num = ifnull(direct_common_recharge_num,0)+#{directCommonRechargeNum},
          </if>
          <if test="directCommonCount != null">
            direct_common_count =ifnull(direct_common_count,0)+ #{directCommonCount},
          </if>
          
          <if test="lineDirectRechargeMoney != null">
            line_direct_recharge_money =ifnull(line_direct_recharge_money,0)+ #{lineDirectRechargeMoney},
          </if>
          <if test="lineDirectRechargeNum != null">
            line_direct_recharge_num = ifnull(line_direct_recharge_num,0)+#{lineDirectRechargeNum},
          </if>
          <if test="lineDirectCount != null">
            line_direct_count =ifnull(line_direct_count,0)+ #{lineDirectCount},
          </if>
      </set>
      where customer_id = #{customerId}
  </update>

  <select id="selectAccountInfoByCustId" resultType="com.cc.oem.modules.agent.model.data.customer.CustomerBalanceInfo">
    select ba.id, customer_id, 
		    empty_count, realtime_count,international_count,direct_common_count,line_direct_count,
		    empty_recharge_num, empty_recharge_money,
		    realtime_recharge_num, realtime_recharge_money, 
		    international_recharge_num,international_recharge_money,
		    direct_common_recharge_num,direct_common_recharge_money,
		    line_direct_recharge_num,line_direct_recharge_money,
		    last_time,cust.name custName,cust.phone custPhone
    from customer_balance ba left join customer cust on ba.customer_id = cust.id
    where ba.customer_id = #{custId}
  </select>
  
  <select id="getAgentTotalCounts" resultType="com.cc.oem.modules.job.entity.task.AgentDailyInfo">
  	select c.agent_id,sum(ifnull(cb.empty_count,0)) emptyCounts,
  	       sum(ifnull(cb.realtime_count,0)) realtimeCounts,
  	       sum(ifnull(cb.international_count,0)) internationalCounts,
  	       sum(ifnull(cb.direct_common_count,0)) directCommonCounts,
  	       sum(ifnull(cb.line_direct_count,0)) lineDirectCounts
  	from customer_balance cb 
  	inner join customer c on c.id = cb.customer_id 
  	group by c.agent_id
  </select>

  <select id="countHistoryData"  resultType="com.cc.oem.modules.agent.entity.CustomerBalance">
    select * from customer_balance
  </select>

  <insert id="batchSave">
    insert into customer_balance (customer_id,empty_count, realtime_count,international_count, direct_common_count,line_direct_count,
                     empty_recharge_num, empty_recharge_money,
    		         realtime_recharge_num, realtime_recharge_money,
    		         international_recharge_num,international_recharge_money,
    		         direct_common_recharge_num,direct_common_recharge_money,
    				 line_direct_recharge_num,line_direct_recharge_money,
    		         create_time, update_time)
    values 
    <foreach collection="list" item="item" separator=",">
      (#{item.customerId},#{item.emptyCount}, #{item.realtimeCount}, #{item.internationalCount},#{item.directCommonCount},#{item.lineDirectCount},
      #{item.emptyRechargeNum}, #{item.emptyRechargeMoney}, #{item.realtimeRechargeNum}, #{item.realtimeRechargeMoney}
      , #{item.internationalRechargeNum}, #{item.internationalRechargeMoney},
      #{item.directCommonRechargeNum},#{item.directCommonRechargeMoney},
      #{item.lineDirectRechargeNum},#{item.lineDirectRechargeMoney},
      now(), now())
    </foreach>
  </insert>

  <update id="addRechargeInfo">
    update customer_balance 
    set empty_recharge_num=empty_recharge_num+#{emptyRechargeNum}
        ,empty_recharge_money=empty_recharge_money+#{emptyRechargeMoney}
        ,realtime_recharge_num=realtime_recharge_num+#{realtimeRechargeNum}
     	,realtime_recharge_money=realtime_recharge_money+#{realtimeRechargeMoney}
     	,international_recharge_num=international_recharge_num+#{internationalRechargeNum}
     	,international_recharge_money=international_recharge_money+#{internationalRechargeMoney}
     	,direct_common_recharge_num=direct_common_recharge_num+#{directCommonRechargeNum}
     	,direct_common_recharge_money=direct_common_recharge_money+#{directCommonRechargeMoney}
     	,line_direct_recharge_num=line_direct_recharge_num+#{lineDirectRechargeNum}
     	,line_direct_recharge_money=line_direct_recharge_money+#{lineDirectRechargeMoney}
    	,update_time = now()
    where customer_id = #{customerId}
  </update>

  <insert id="saveOne">
    insert into customer_balance (customer_id,empty_count, realtime_count,international_count,direct_common_count,line_direct_count,
    							  empty_recharge_num, empty_recharge_money, realtime_recharge_num, realtime_recharge_money,
    							  international_recharge_num,international_recharge_money,
    							  direct_common_recharge_num,direct_common_recharge_money,
    							  line_direct_recharge_num,line_direct_recharge_money,
    							  create_time, update_time)
    values
      (#{customerId},#{emptyCount}, #{realtimeCount}, #{internationalCount},#{directCommonCount},#{lineDirectCount},
      #{emptyRechargeNum}, #{emptyRechargeMoney}, #{realtimeRechargeNum}, #{realtimeRechargeMoney}
      , #{internationalRechargeNum}, #{internationalRechargeMoney},
      #{directCommonRechargeNum},#{directCommonRechargeMoney},
      #{lineDirectRechargeNum},#{lineDirectRechargeMoney},
      now(), now())
  </insert>
</mapper>
